Repository stranske/Trend_Model_Project, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, metrics, selection, config, docs, workflows, ci, tests, notebooks, export, performance, streamlit

ci(security,#1187): add CodeQL analysis and dependency review workflows
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
Labels: workflows

Update .github/workflows/codeql.yml
  .github/workflows/codeql.yml
Labels: workflows

Add multi-period engine tests and tighten coverage gates (#1263)
  .github/workflows/ci.yml
  src/trend_analysis/core/rank_selection.py
  src/trend_analysis/multi_period/engine.py
  src/trend_analysis/typing.py
  tests/test_multi_period_engine_additional.py
  tests/test_trend_analysis_init.py
Labels: backend, metrics, selection, workflows, tests

ci(security,#1187): add CodeQL + dependency review workflows (#1265)
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
Labels: workflows

docs(ownership,#1203): add /agents/** CODEOWNERS entry and ownership expectations doc
  .github/CODEOWNERS
  docs/code_ownership.md
Labels: docs

Add coverage for multi-period engine and app helpers
  src/trend_analysis/core/rank_selection.py
  tests/test_multi_period_engine_cov_cache.py
  tests/test_portfolio_app_helpers.py
  tests/test_trend_analysis_init.py
Labels: backend, selection, tests

Update tests/test_portfolio_app_helpers.py
  tests/test_portfolio_app_helpers.py
Labels: tests

Update src/trend_analysis/core/rank_selection.py
  src/trend_analysis/core/rank_selection.py
Labels: backend, selection

Add coverage for multi-period engine and app helpers (#1268)
  src/trend_analysis/core/rank_selection.py
  tests/test_multi_period_engine_cov_cache.py
  tests/test_portfolio_app_helpers.py
  tests/test_trend_analysis_init.py
Labels: backend, selection, tests

docs(ownership,#1203): add /agents/** CODEOWNERS entry and ownership expectations doc (#1267)
  .github/CODEOWNERS
  docs/code_ownership.md
Labels: docs

chore: harden agent label sparse checkout guard
  .github/workflows/label-agent-prs.yml
Labels: workflows

Update .github/workflows/label-agent-prs.yml
  .github/workflows/label-agent-prs.yml
Labels: workflows

docs(workflows,#1204): add consolidated CI & agents onboarding README
  .github/workflows/README.md
Labels: workflows

Adjust agent label workflow sparse checkout guard (#1269)
  .github/workflows/label-agent-prs.yml
Labels: workflows

Add coverage-focused multi-period and app helper tests
  tests/test_multi_period_engine.py
  tests/test_portfolio_app_helpers.py
  tests/test_rank_selection_coverage.py
  tests/test_rank_selection_extended.py
  tests/test_trend_analysis_init.py
Labels: tests

Update tests/test_portfolio_app_helpers.py
  tests/test_portfolio_app_helpers.py
Labels: tests

Add coverage-focused multi-period and app helper tests (#1271)
  tests/test_multi_period_engine.py
  tests/test_portfolio_app_helpers.py
  tests/test_rank_selection_coverage.py
  tests/test_rank_selection_extended.py
  tests/test_trend_analysis_init.py
Labels: tests

Update .github/workflows/README.md
  .github/workflows/README.md
Labels: workflows

Update .github/workflows/README.md
  .github/workflows/README.md
Labels: workflows

Update .github/workflows/README.md
  .github/workflows/README.md
Labels: workflows

Update .github/workflows/README.md
  .github/workflows/README.md
Labels: workflows

Update .github/workflows/README.md
  .github/workflows/README.md
Labels: workflows

Fix duplicate placeholder keys for out-of-sample stats
  src/trend_analysis/multi_period/engine.py
Labels: backend, metrics

docs(workflows,#1204): add CI & agents onboarding README (#1270)
  .github/workflows/README.md
Labels: workflows

ci(stale): add stale PR TTL workflow (14+7) and docs (closes #1205)
  .github/workflows/README.md
  .github/workflows/stale-prs.yml
Labels: workflows

Fix duplicate placeholder keys for out-of-sample stats (#1272)
  src/trend_analysis/core/rank_selection.py
  src/trend_analysis/multi_period/engine.py
  src/trend_analysis/typing.py
  tests/test_multi_period_engine.py
  tests/test_multi_period_engine_additional.py
  tests/test_portfolio_app_helpers.py
  tests/test_rank_selection_extended.py
  tests/test_trend_analysis_init.py
Labels: backend, metrics, selection, tests

ci(stale): add stale PR TTL workflow (14+7) and docs (closes #1205) (#1273)
  .github/workflows/README.md
  .github/workflows/stale-prs.yml
Labels: workflows

test: extend multi-period threshold coverage
  tests/test_multi_period_engine_threshold_edgecases.py
  tests/test_trend_analysis_init.py
Labels: tests

Update tests/test_multi_period_engine_threshold_edgecases.py
  tests/test_multi_period_engine_threshold_edgecases.py
Labels: tests

Add targeted tests for multi-period threshold engine edge cases (#1274)
  tests/test_multi_period_engine_threshold_edgecases.py
  tests/test_trend_analysis_init.py
Labels: tests

Add targeted tests for multi-period engine and package exports
  tests/test_multi_period_engine_extended.py
  tests/test_trend_analysis_package.py
Labels: tests

Update tests/test_multi_period_engine_extended.py
  tests/test_multi_period_engine_extended.py
Labels: tests

fix: correct sparse checkout for agent label workflow
  .github/workflows/label-agent-prs.yml
Labels: workflows

Update .github/workflows/label-agent-prs.yml
  .github/workflows/label-agent-prs.yml
Labels: workflows

Update .github/workflows/label-agent-prs.yml
  .github/workflows/label-agent-prs.yml
Labels: workflows

Fix sparse checkout configuration for agent label workflow (#1276)
  .github/workflows/label-agent-prs.yml
Labels: workflows

Add coverage-focused tests for multi-period engine and package exports (#1275)
  tests/test_multi_period_engine_extended.py
  tests/test_trend_analysis_package.py
Labels: tests

.github/labeler.yml:

# Path-based label mappings (Issue #1180)
# Syncs labels to reflect areas of change.
backend:
  - 'src/**'
  - 'trend_portfolio_app/**'
  - 'app/**'

metrics:
  - 'src/trend_analysis/metrics.py'
  - 'src/trend_analysis/multi_period/**'

selection:
  - 'src/trend_analysis/core/**'
  - 'src/trend_analysis/engine/**'

config:
  - 'config/**'

docs:
  - 'docs/**'
  - 'README*.md'
  - 'AGENTS_APP.md'

workflows:
  - '.github/workflows/**'

ci:
  - 'scripts/**'
  - '.github/actions/**'

tests:
  - 'tests/**'

notebooks:
  - 'notebooks/**'

export:
  - 'src/trend_analysis/export.py'
  - 'src/trend_analysis/export/**'

performance:
  - 'perf/**'

streamlit:
  - 'streamlit_app/**'
  - 'src/trend_portfolio_app/**'
